<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/solana-icon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Solana Message Signer & Verifier</title>

    <!-- Primary Meta Tags -->
    <meta name="title" content="Solana Message Signer & Verifier" />
    <meta
      name="description"
      content="Sign and verify messages with your Solana wallet"
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="<%= siteUrl %>/"
    />
    <meta property="og:title" content="Solana Message Signer & Verifier" />
    <meta
      property="og:description"
      content="Sign and verify messages with your Solana wallet"
    />
    <meta
      property="og:image"
      content="<%= siteUrl %>/banner.jpg"
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta
      property="twitter:url"
      content="<%= siteUrl %>/"
    />
    <meta property="twitter:title" content="Solana Message Signer & Verifier" />
    <meta
      property="twitter:description"
      content="Sign and verify messages with your Solana wallet"
    />
    <meta
      property="twitter:image"
      content="<%= siteUrl %>/banner.jpg"
    />
  </head>
  <body>
    <div id="root"></div>
    <script type="module" src="/src/main.tsx"></script>
  </body>
</html>
